body {
    background: linear-gradient(darkslateblue, black);
    background-attachment: fixed;
    color: #EEE;
    font-family: 'Montserrat Alternates', sans-serif;
}

.container {
    max-width: 1000px;
    margin: auto;
    padding: 5px;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: #BC956B;
}


body > .container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 50px;
    text-align: center;
}

img {
    width: 50px;
    padding-right: 20px;
}

main {
    flex: 0.7;
    padding-left: 100px;
    padding-right: 100px;
}

footer {
    padding-left: 250px;
    padding-right: 250px;
    text-align: center;
}

nav ul {
    display: inline-flex;
    list-style: none;
    padding-left: 0;
}

nav li {
    margin-right: 1rem;
}

.produit-liste {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
}

label {
    display: block;
}

input, textarea, select {
    margin-bottom: 1rem;
    box-sizing: border-box;
    width: 150px;
    max-width: 50%;

}

.flash {
    padding: 20px;
    font-weight: bold;
    font-size: 1.4rem;
    margin: 1rem 0;
    border-radius: 5px;
    width: 500px;
    margin-left: 250px;
    margin-right: 250px;
    text-align: center;
}

.flash-success {
    background-color: green;
}

.produit-details {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 50px;
}

.produit-details-infos > div {
    margin-bottom: 1rem;
}

@media screen and (min-width: 700px) {
    .produit-details {
        grid-template-columns: 300px 1fr;
    }
}

.accueil {
    max-width: 2000px;
    display: block;
}

.form {
    display: inline;
}

.edit {
    display: inline;
    width: 300px;
}