<nav>
    <ul>
        <li><a href="{{ path('main_accueil') }}" title="Accueil">Accueil</a></li>
        <li><a href="{{ path('produit_liste') }}" title="Liste produits">Liste produits</a></li>
        <li><a href="{{ path('categorie_liste') }}" title="Catégories">Catégories</a></li>
    </ul>
</nav>